* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6441a5;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar {
  background-color: #232323;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 300px);
  right: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 70px;
}

.album {
  background-color: white;
}

#volume {
  margin-top: 35px;
  height: 10px;
}

button {
  border: 0;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  height: 40px;
  font-size: 20px;
  position: relative;
  margin: 5px;
}

progress {
  width: 600px;
  height: 5px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #181818;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #6441a5, #6441a5);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.slider {
  margin-right: 20px;
}

input[type="range"] {
  overflow: hidden;
  width: 100px;
  -webkit-appearance: none;
  background-color: #181818;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  border-radius: 5px;
  height: 10px;
  cursor: pointer;
  background: #c4c4c4;
  box-shadow: -80px 0 0 80px #6441a5;
}

.grid-container {
  display: grid;
  width: calc(100vw - 300px);
  height: calc(100vh - 70px);
  margin-left: auto;
  padding: 1rem 0 0 2rem;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container {
  background-color: transparent;
  height: 150px;
  width: 150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 150px;
  height: 150px;
  background-color: white;
}
#imagem {
  width: 100%;
  height: 100%;
}
